:root {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hero {
  height: 350px;
  background-image: url(../images/DisneyPortada.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.section-search {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: absolute; }

.searchForm {
  background-color: white;
  display: flex;
  box-shadow: 0 0 10px #444444;
  gap: 10px;
  width: 80%;
  padding: 30px 100px;
  position: absolute;
  transform: translateY(-37px);
  opacity: 100%; }
  .searchForm__label {
    width: 100%; }
    .searchForm__label--input {
      width: 90%; }
  .searchForm__submit {
    background-color: #177add;
    padding: 5px 10px;
    border: none;
    border-radius: 5px; }

.section-lists {
  display: flex;
  flex-direction: row;
  gap: 50px; }

.section-fav {
  margin-top: 70px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 300px; }

.favourites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center; }

.fav__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px #444444;
  padding-bottom: 30px;
  width: 250px;
  gap: 10px;
  background-color: darksalmon;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.resetListButtom {
  box-shadow: #444444;
  border: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px; }

.resetListButtom:hover {
  background-color: dimgray;
  color: white; }

.reset {
  font-size: 16px;
  margin-top: 10px; }

.reset:hover {
  color: red; }

.collapsed {
  display: none; }

.section-list {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px; }

.title {
  font-size: 15px;
  color: #185dcb;
  font-weight: bold;
  margin-bottom: 5px; }

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 40px;
  gap: 20px;
  align-items: center;
  justify-content: center; }
  .list__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px #444444;
    padding-bottom: 30px;
    width: 250px;
    gap: 10px; }
    .list__element--img {
      height: 300px;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    .list__element--name {
      font-size: 15px;
      font-weight: bold;
      color: black; }

.margin-top {
  margin-top: 70px; }

.footer {
  padding: 10px 0px;
  text-align: center;
  background-color: #20a9e4;
  color: white; }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
